body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #ffffff;
  font-family: 'Roboto Mono', monospace;
  font-size: 1rem; /* Taille de police relative */
}

header {
  background-color: #333;
  color: white;
  padding: 0.625rem 0; /* 10px */
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1.25rem; /* 20px */
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0.625rem 0; /* 10px */
  width: 100%;
  position: relative;
  bottom: 0;
}

.page {
  flex: 1;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  padding: 1.25rem; /* 20px */
  border-radius: 0.5rem; /* 8px */
}

.page.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

/* Navigation bar */
nav {
  flex-grow: 1;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav li {
  float: left;
}

nav a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.875rem 1rem; /* 14px 16px */
  text-decoration: none;
}

nav a:hover {
  background-color: #111;
}

/* Social Icon */
.social-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-links li {
  margin: 0 0.625rem; /* 10px */
}

.social-icon {
  width: 1.5rem; /* 24px */
  height: 1.5rem; /* 24px */
  background-color: white;
}

/* Footer */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 0.625rem 0; /* 10px */
  position: relative;
  width: 100%;
  bottom: 0;
}

/* Contact form */

#contact h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 1.25rem; /* 20px */
  color: #222;
}

.contact-form {
  border: 0.125rem solid black; /* 2px */
  padding: 1.25rem; /* 20px */
  max-width: 37.5rem; /* 600px */
  margin: 0 auto;
  border-radius: 0.3125rem; /* 5px */
  background-color: #eeeaea;
}

.contact-form label {
  display: block;
  margin-bottom: 0.9375rem; /* 15px */
  font-weight: bold;
  text-align: left;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 0.625rem; /* 10px */
  margin-bottom: 0.625rem; /* 10px */
  border: 0.0625rem solid #ccc; /* 1px */
  border-radius: 0.1875rem; /* 3px */
  box-sizing: border-box;
}

.contact-form input[type="submit"] {
  background-color: black;
  color: white;
  padding: 0.625rem 1.25rem; /* 10px 20px */
  border: none;
  border-radius: 0.1875rem; /* 3px */
  cursor: pointer;
  display: block;
  width: 100%;
}

.contact-form input[type="submit"]:hover {
  background-color: #333;
}

/* Project */

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem; /* 16px */
}

.projects-container h1 {
  margin-bottom: 2.5rem; /* 40px */
}

.cards-container {
  display: flex;
  flex-wrap: nowrap; 
  gap: 2.5rem; /* 40px */
  justify-content: center; 
  width: 100%; 
  margin-top: 6.25rem; /* 100px */
}

.card {
  border: 0.0625rem solid #ccc; /* 1px */
  padding: 1rem; /* 16px */
  border-radius: 0.5rem; /* 8px */
  box-shadow: 0.125rem 0.125rem 0.75rem rgba(0, 0, 0, 0.1); /* 2px 2px 12px */
  max-width: 18.75rem; /* 300px */
  height: 25rem; /* 400px */
  flex: 0 0 auto;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem 0.5rem 0 0; /* 8px 8px 0 0 */
}

.card h3 {
  margin-top: 1rem; /* 16px */
}

.card:hover {
  transform: scale(1.1);
}

/* Styles pour les modales */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  margin: 5% auto;
  padding: 1.25rem; /* 20px */
  border: 0.0625rem solid #888; /* 1px */
  width: 90%;
  max-width: 50rem; /* 800px */
  border-radius: 0.625rem; /* 10px */
  text-align: center;
}

.modal-content h1 {
  margin-top: 0;
  text-align: center;
}

.modal-content h2 {
  text-align: left;
  margin-top: 1.25rem; /* 20px */
}

.modal-content p {
  text-align: left;
  margin-bottom: 1.25rem; /* 20px */
}

.modal-content iframe {
  width: 100%;
  height: 25rem; /* 400px */
  margin-bottom: 1.25rem; /* 20px */
  margin-top: 1.25rem; /* 20px */
}

.close {
  color: #aaa;
  float: right;
  font-size: 1.75rem; /* 28px */
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Éducation */
.education {
  padding: 1.25rem; /* 20px */
  border-radius: 1.25rem; /* 20px */
  margin-bottom: 2.5rem; /* 40px */
  margin-top: 2.5rem; /* 40px */
  display: flex;
  flex-direction: column;
  border: 0.0625rem solid #888; /* 1px */
}

.education-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.625rem; /* 10px */
}

.education-logo {
  height: 2.5rem; /* 40px */
  margin-right: 0.9375rem; /* 15px */
  border: none;
  border-radius: 0;
}

.education-header div {
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 3.75rem); /* 60px */
}

.education-header h3 {
  margin: 0;
  font-size: 1.2em;
  white-space: nowrap;
}

.education-header h4 {
  margin: 0;
  font-size: 1em;
  color: #666;
  white-space: nowrap;
}

.education-header span {
  margin-top: 0.3125rem; /* 5px */
  font-size: 0.9em;
  color: #a0a0a0;
  white-space: nowrap;
}

.education-item {
  margin-bottom: 1.25rem; /* 20px */
}

.education-description {
  margin-top: 0.625rem; /* 10px */
}

/* Experience */
.experience {
  padding: 1.25rem; /* 20px */
  border-radius: 1.25rem; /* 20px */
  margin-bottom: 2.5rem; /* 40px */
  margin-top: 2.5rem; /* 40px */
  display: flex;
  flex-direction: column;
  border: 0.0625rem solid #888; /* 1px */
}

.experience-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.experience-header img {
  height: 2.5rem; /* 40px */
  margin-right: 0.625rem; /* 10px */
}

.experience-header div {
  display: flex;
  align-items: center;
}

.experience-header h3 {
  margin: 0;
  font-size: 1.2em;
}

.experience-header span {
  margin-left: 0.625rem; /* 10px */
  font-size: 0.9em;
  color: #a0a0a0;
}

.experience-description {
  margin-top: 0.625rem; /* 10px */
}

.experience-links, .experience-skills {
  margin-top: 0.625rem; /* 10px */
  display: flex;
  flex-wrap: wrap;
}

.experience-links a, .experience-skills span {
  background-color: #3a3a3a;
  color: #ffffff;
  padding: 0.3125rem 0.625rem; /* 5px 10px */
  border-radius: 0.3125rem; /* 5px */
  margin-right: 0.625rem; /* 10px */
  margin-bottom: 0.625rem; /* 10px */
  text-decoration: none;
}

.experience-links a:hover, .experience-skills span:hover {
  background-color: #4a4a4a;
}

/* Page */

.page h1 {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0;
  color: #222;
}

/* Language */

[data-lang] {
  display: none;
}

.language-switcher {
  position: absolute;
  top: 1.25rem; /* 20px */
  right: 0.625rem; /* 10px */
}

.language-switcher img {
  width: 2.1875rem; /* 35px */
  height: 1.875rem; /* 30px */
  margin-left: 0.625rem; /* 10px */
}

/* Home Page */

#home .welcome {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 6.25rem; /* 100px */
}

#home .name {
  font-size: 3em;
  font-weight: bold;
}

#home .title {
  font-size: 1.5em;
  font-weight: bold;
  color: #585353;
}

/* About Page */

#about h1 {
  font-size: 2em;
  margin-top: 1.875rem; /* 30px */
}

.resume {
  margin-top: 1.25rem; /* 20px */
}

/* Media Queries */
@media (max-width: 600px) {
  .about-container {
    padding: 10px;
  }

  .education, .experience {
    padding: 10px;
    margin-bottom: 20px;
  }

  .education-header, .experience-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .education-logo, .experience-header img {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .education-header div, .experience-header div {
    max-width: 100%;
  }

  .education-header h3, .education-header h4, .education-header span,
  .experience-header h3, .experience-header span {
    white-space: normal;
  }

  .cards-container {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .card {
    max-width: 100%;
    flex: 1 1 100%;
  }
}
